.loginContainer{
    border: 1px solid rgb(37, 37, 37);
    background-color: rgba(240, 248, 255, 0.13);
    padding: 20px 80px;
    border-radius: 15px;
    transition: 1.5s;
}
.loginContainer.fade-in {
    animation: fadeIn 0.8s ease;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-30px);}
    to { opacity: 1; transform: translateY(0);}
}
.loginContainer > button{
    margin-top: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.325);
}
.loginInput{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.loginInput > input{
    height: 25px;
    width: 190px;
    padding: 3px;
}

.loginFailMsg{
    color: red;
    font-size: 0.8rem;
    padding: 0px;
    margin: 0px;
    text-align: center;
}